@import "./variables.styl";
@import "./common.styl";
@import "./mixins.styl";
@import "./reset.styl";
@import "./helpfunction.styl";
@import "./iview/scroll.styl";
@import "./hover.styl";

/*用于调式  误删  都做完后可以删了*/
.bd{
  border 2px solid red !important
}
.ivu-message{
  z-index: 9999 !important;
}
