$base = #FE8836
$success = #00BF7F
$info = #4B7DFF
$error = #FA594E
$gray=#E7E7E7
$black=#4e5969
$depgray=#6A7487
/* 辅助色，比主色稍弱 */
$assist = #FFF5ED
// 灰色边框
$border-color =  #DCDFE6
$disabled = #FFCFAF

// 班课详情 路由 classcourse-home
$base-width = 1064px

// 移动效果
$mobile = translate3d(0, -5px, 5px);
$transition = translate3d(0, -5px, 5px);

