// 班课首页  班课详情  老师班课  学生班课  划分全局样式 方便以后维护

// src/components/class-course/class-course-card/index.vue
.class-course-card-scoped {
  $card-width = 242px;
  $card-height = 272px;
  // top
  $card-image-width =242px;
  $card-image-height =140px;
  // bottom

  .card{
    width: $card-width;
    height: $card-height;
    .card-head{  // top
      width: $card-image-width;
      height: $card-image-height;
    }
    .card-main{ // bottom

    }
  }

}

